---
import Layout from "../layouts/Layout.astro";
import {Code} from "lucide-astro"
---

<Layout>
  <main class="grid place-items-center h-dvh w-full outline">
    <div class="flex flex-col items-center">
      <h1
        class="inline-block bg-gradient-to-r from-violet-600 via-violet-400 to-violet-500 bg-clip-text text-5xl font-black text-transparent lg:text-6xl"
      >
        Gabriel Vitor <Code size={24} />
      </h1>
      <p class="text-muted-foreground text-xl">Em breve</p>
    </div>
  </main>
</Layout>
